doctype html
html
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='main.css')
    script(src='https://use.fontawesome.com/b2ab8593f9.js')

    //- create the background images for various sections.
    if images.title
        style.
            #title-section::before { background-image: url(images/#{images.title}); }
body
    section#title-section.has-image
        header.center 
            h1
                each char in title.split('')
                    span=char
        div.contents
            include:markdown ../data/title.md
    section#activities
        header.right
            h2=activities.title
        div.contents 
            div.center.icon-container
                each group in activities.groups
                    article.icon
                        if group.icon
                            span(class='fa fa-' + group.icon)
                        else
                            img(src='images/' + group.image)
                        if group.link
                            a(href=group.link)=group.name
                        else 
                            span.name=group.name
                article.icon
                    span(class='fa fa-' + activities.arrowIcon)
                article.icon
                    span(class='fa fa-' + activities.folderIcon)
            div.text-content
                include:markdown ../data/activities.md

    section#tennis-folder
        header.left
            h2
                a(href=tennisLink)=tennis.title
        div.contents
            include:markdown ../data/tennis.md

    //- Allows live reload, remove from production.
    script#live-reload-script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');

